## Boolean

In [4]:
print(True, False)
print(type(True))
bool()

True False
<class 'bool'>

False

In [5]:
my_str = "Yogesh Prabhu"

In [ ]:
print(my_str.isalnum())
print(my_str.isdigit())
print(my_str.endswith('u'))

In [15]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [16]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

## LIST

In [26]:
my_list = list()
my_list1 = [10, 20, 30]
my_list2 = ['a', 'b', 'c']
my_list3 = [100, 'yog', 300]

In [27]:
print(len(my_list), type(my_list))
print(len(my_list1), type(my_list1))
print(len(my_list2), type(my_list2))
print(len(my_list3), type(my_list3))

0 <class 'list'>
3 <class 'list'>
3 <class 'list'>
3 <class 'list'>

## Append

In [28]:
my_list.append('appended')
my_list

['appended']

In [34]:
my_list1.append([60, 70])
my_list1

[10, 20, 30, [60, 70]]

## Indexing

In [38]:
print('Values of my_list1',my_list1)
print(len(my_list1))
print(my_list1[0])
print(my_list1[0:2])
print(my_list1[-1])

Values of my_list1 [10, 20, 30, [60, 70]]
4
10
[10, 20]
[60, 70]

## Insert

In [39]:
my_list1.insert(0, 500)
my_list1

[500, 10, 20, 30, [60, 70]]

## Extend

In [46]:
my_list1 = [10, 20, 30]
my_list1.extend([40, 50, 60])
my_list1

[10, 20, 30, 40, 50, 60]

## Operations

In [47]:
# SUM
print(sum(my_list1))

# POP
print(my_list1)
my_list1.pop()
print(my_list1)
my_list1.pop(0)
print(my_list1)

210
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50]
[20, 30, 40, 50]

In [58]:
print(my_list1.index(20))
print(my_list1.count(30))

0
1

In [59]:
my_list1 = [10, 20, 30]
my_list1*2

[10, 20, 30, 10, 20, 30]

## Sets

In [62]:
s = set()
type(s)

set

In [65]:
s1 = {1,2,3}
print(s1)
print(type(s1))

s2 = {1,2,3,3,2,1}
print(s2)
print(type(s2))

{1, 2, 3, 4}
<class 'set'>
{1, 2, 3}
<class 'set'>

In [69]:
# OPERATIONS on SETS
s1 = {1,2,3}
s1.add(4)
s1.add('hel')
print(s1)
print(type(s1))

{1, 2, 3, 4, 'hel'}
<class 'set'>

In [73]:
s1 = {1,2,3,4, 'hello'}
s2 = {1,2,3,3,2,1,5,6}
print(s1.difference(s2))
print(s2.difference(s1))

In [79]:
s1 = {1,2,3,4, 'hello'}
s2 = {1,2,3,3,2,1,5,6}
print(s1)
print(s2)

s2.difference_update(s1)

print(s1)
print(s2)

{1, 2, 3, 4, 'hello'}
{1, 2, 3, 5, 6}
{1, 2, 3, 4, 'hello'}
{5, 6}

In [82]:
s1 = {1,2,3,4, 'hello'}
s2 = {1,2,3,3,2,1,5,6}
print(s1)
print(s2)
print(10*'*')
print(s2.intersection(s1))
print(10*'*')
print(s1)
print(s2)
print(10*'*')
s2.intersection_update(s1)
print(s1)
print(s2)

{1, 2, 3, 4, 'hello'}
{1, 2, 3, 5, 6}
**********
{1, 2, 3}
**********
{1, 2, 3, 4, 'hello'}
{1, 2, 3, 5, 6}
**********
{1, 2, 3, 4, 'hello'}
{1, 2, 3}

## Dictionaries

In [88]:
dic = {}
print(type(dic))
print(dic)

<class 'dict'>
{}

In [91]:
dica = {'car1':'BMW', 'car2': 'merc'}

In [103]:
# retriving data from dict
print(dica['car1'])
print(dica.get('car1'))

BMW
BMW

In [113]:
# Traverse on keys
for i in dica:
    print(i)

# Traverse on Values
for i in dica.values():
    print(i)

# Traverse on key, values
for i in dica.items():
    print(i)
    print(type(i))

car1
car2
BMW
merc
('car1', 'BMW')
<class 'tuple'>
('car2', 'merc')
<class 'tuple'>

##  UPDATE Dict

In [114]:
dica['car3'] = 'Audi'
dica

{'car1': 'BMW', 'car2': 'merc', 'car3': 'Audi'}

In [115]:
# Adding value for same key
dica['car1'] = 'Suzuki'
dica

{'car1': 'Suzuki', 'car2': 'merc', 'car3': 'Audi'}

## Nested Dictionary

In [118]:
c1 = {'BMW':2001}
c2 = {'MERC':2010}
dica = {'car1':c1, 'car2': c2}
print(dica)
print(dica['car1'])
print(dica['car1']['BMW'])

{'car1': {'BMW': 2001}, 'car2': {'MERC': 2010}}
{'BMW': 2001}
2001

## Tuples

In [133]:
# Immutable
# used where defination of item is required only for one time
tp = tuple()
print(type(tp))
tp

<class 'tuple'>

()

In [134]:
tup = ('he', 'she', 10)
print(tup)
print(len(tup))
print(tup[0])

('he', 'she', 10)
3
he